{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}django-march-madness{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/bootstrap-social.css' %}" rel="stylesheet">
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <link href="{% static 'css/brackets.css' %}" rel="stylesheet">
    {% endblock %}
  </head>

  <body>

    <div class="header navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"></a>
        <ul class="nav navbar-nav">
          <li><a href="{% url 'rules' %}">Rules</a></li>

          {% if request.user.is_authenticated %}
            {% if request.user.entry_set.all %}
            <li>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">My Brackets <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
              {% for b in request.user.entry_set.all %}
                <li><a href="{% url 'madness:entry_picks' b.pk %}">{{ b.name }}</a></li>
              {% endfor %}
              </ul>
              {% endif %}
            </li>
            <li><a href="{% url 'madness:create_entry' %}">New Bracket</a></li>
            <li><a href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a></li>
            <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
          {% else %}
            <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
            <li><a href="{% url 'account_login' %}">{% trans "Log In" %}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="container-fluid">
      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}
    </div>

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
      <script src="{% static 'js/project.js' %}"></script>
      <script src="{% static 'js/countdown.min.js' %}" type="text/javascript"></script>
    {% endblock javascript %}

    {% block extra_javascript %}
    {% endblock extra_javascript %}
    <footer>
      <p class="text-center">Built in 24 hours by <a href="mailto:cstoner@novoconstruction.com">Colin</a> and <A href="mailto:skuehn@novoconstruction.com">Sam</a>. Open Sourced on <a href="https://github.com/NOVO-Construction/django-march-madness"><i class="fa fa-github"></i> Github</a>.<br>&copy;2015 NOVO Construction, Inc.</p>
    </footer>
  </body>
</html>
