{% extends "__base.html" %}

{% block title %}Make Your Picks{% endblock %}

{% block content %}
  <div>
    <div class="bracket-header">
      <div class="affix-top">
        <div class="bracket-nav btn-toolbar">
          <div class="btn-group">
            <button class="btn btn-default" disabled="true" type="button"><span class="glyphicon glyphicon-ban-circle"></span></button>
          </div>
        </div>

        <div class="bracket-enter" title="2015-03-19T16:15:00.000Z">
          <button class="btn btn-danger btn-block" disabled type="button"><span>Brackets lock</span> <span>3 days from now</span></button>
        </div>
      </div>
    </div>

    <div class="bracket row">
      <div class="col-md-6 region-side left-side">
        <section class="region initial-region" data-id="MW">
            <div class="region-name">
              <h2 class="text-right">Midwest</h2>
              <p class="text-right">Cleveland</p>
            </div>
          <div class="rounds">
            <div class="rounds-scroll">
              <div class="round">
                <ul class="matchup" game-id="1">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.0.pk }}">{{ bracket.0 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.1.pk }}">{{ bracket.1 }}</a>
                  </li>
                </ul>

                <ul class="matchup" game-id="2">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.2.pk }}">{{ bracket.2 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.3.pk }}">{{ bracket.3 }}</a>
                  </li>
                </ul>

                <ul class="matchup" game-id="3">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.4.pk }}">{{ bracket.4 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.5.pk }}">{{ bracket.5 }}</a>
                  </li>
                </ul>

                <ul class="matchup" game-id="4">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.6.pk }}">{{ bracket.6 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.7.pk }}">{{ bracket.7 }}</a>
                  </li>
                </ul>

                <ul class="matchup" game-id="5">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.8.pk }}">{{ bracket.8 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.9.pk }}">{{ bracket.9 }}</a>
                  </li>
                </ul>

                <ul class="matchup" game-id="6">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.10.pk }}">{{ bracket.10 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.11.pk }}">{{ bracket.11 }}</a>
                  </li>
                </ul>

                <ul class="matchup" game-id="7">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.12.pk }}">{{ bracket.12 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.13.pk }}">{{ bracket.13 }}</a>
                  </li>
                </ul>

                <ul class="matchup" game-id="8">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.14.pk }}">{{ bracket.14 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.15.pk }}">{{ bracket.15 }}</a>
                  </li>
                </ul>
              </div>

              <div class="round">
                <ul class="matchup" game-id="33">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>

                <ul class="matchup" game-id="34">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>

                <ul class="matchup" game-id="35">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>

                <ul class="matchup" game-id="36">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>
              </div>

              <div class="round">
                <ul class="matchup" game-id="49">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>

                <ul class="matchup" game-id="50">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>
              </div>

              <div class="round">
                <ul class="matchup" game-id="57">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>
              </div>

              <div class="round">
                <ul class="matchup" game-id="61">
                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <div class="final-round-borders"></div>

        <section class="region initial-region" data-id="W">
          <div class="region-name">
            <h2 class="text-right">West</h2>
            <p class="text-right">Los Angeles</p>
          </div>

          <div class="rounds">
            <div class="rounds-scroll">
              <div class="round">
                <ul class="matchup">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.16.pk }}">{{ bracket.16 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.17.pk }}">{{ bracket.17 }}</a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.18.pk }}">{{ bracket.18 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.19.pk }}">{{ bracket.19 }}</a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.20.pk }}">{{ bracket.20 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.21.pk }}">{{ bracket.21 }}</a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.22.pk }}">{{ bracket.22 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.23.pk }}">{{ bracket.23 }}</a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.24.pk }}">{{ bracket.24 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.25.pk }}">{{ bracket.25 }}</a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.26.pk }}">{{ bracket.26 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.27.pk }}">{{ bracket.27 }}</a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.28.pk }}">{{ bracket.28 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.29.pk }}">{{ bracket.29 }}</a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.30.pk }}">{{ bracket.30 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.31.pk }}">{{ bracket.31 }}</a>
                  </li>
                </ul>
              </div>

              <div class="round">
                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>
              </div>

              <div class="round">
                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>
              </div>

              <div class="round">
                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>
              </div>

              <div class="round">
                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <div class="final-round-borders"></div>
      </div>

      <div class="col-md-6 region-side right-side">
        <section class="region initial-region" data-id="E">
          <div class="region-name">
            <h2 class="text-left">East</h2>
            <p class="text-left">Syracuse</p>
          </div>

          <div class="rounds">
            <div class="rounds-scroll">
              <div class="round">
                <ul class="matchup">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.32.pk }}">{{ bracket.32 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.33.pk }}">{{ bracket.33 }}</a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.34.pk }}">{{ bracket.34 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.35.pk }}">{{ bracket.35 }}</a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.36.pk }}">{{ bracket.36 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.37.pk }}">{{ bracket.37 }}</a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.38.pk }}">{{ bracket.38 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.39.pk }}">{{ bracket.39 }}</a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.40.pk }}">{{ bracket.40 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.41.pk }}">{{ bracket.41 }}</a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.42.pk }}">{{ bracket.42 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.43.pk }}">{{ bracket.43 }}</a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.44.pk }}">{{ bracket.44 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.45.pk }}">{{ bracket.45 }}</a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.46.pk }}">{{ bracket.46 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.47.pk }}">{{ bracket.47 }}</a>
                  </li>
                </ul>
              </div>

              <div class="round">
                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>
              </div>

              <div class="round">
                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>
              </div>

              <div class="round">
                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>
              </div>

              <div class="round">
                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <div class="final-round-borders"></div>

        <section class="region initial-region" data-id="S">
          <div class="region-name">
            <h2 class="text-left">South</h2>
            <p class="text-left">Houston</p>
          </div>

          <div class="rounds">
            <div class="rounds-scroll">
              <div class="round">
                <ul class="matchup">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.48.pk }}">{{ bracket.48 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.49.pk }}">{{ bracket.49 }}</a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.50.pk }}">{{ bracket.50 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.51.pk }}">{{ bracket.51 }}</a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.52.pk }}">{{ bracket.52 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.53.pk }}">{{ bracket.53 }}</a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.54.pk }}">{{ bracket.54 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.55.pk }}">{{ bracket.55 }}</a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.56.pk }}">{{ bracket.56 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.57.pk }}">{{ bracket.57 }}</a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.58.pk }}">{{ bracket.58 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.59.pk }}">{{ bracket.59 }}</a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.60.pk }}">{{ bracket.60 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.61.pk }}">{{ bracket.61 }}</a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" data-name="{{ bracket.62.pk }}">{{ bracket.62 }}</a>
                  </li>

                  <li>
                    <a class="team pickable" data-name="{{ bracket.63.pk }}">{{ bracket.63 }}</a>
                  </li>
                </ul>
              </div>

              <div class="round">
                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>
              </div>

              <div class="round">
                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>
              </div>

              <div class="round">
                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>
              </div>

              <div class="round">
                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <div class="final-round-borders"></div>
      </div>

      <div class="col-md-12 final-region-container">
        <section class="region final-region" data-id="FF">
          <h2 class="region-name">Final Four (0/3)</h2>

          <div class="rounds">
            <div class="rounds-scroll">
              <div class="round">
                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>

                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>
              </div>

              <div class="round">
                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>

                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>
              </div>

              <div class="round">
                <ul class="matchup">
                  <li>
                    <a class="team pickable" ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extra_javascript %}
{{ block.super }}
<script>
</script>
{% endblock extra_javascript %}
