{% extends "__base.html" %}
{% load avatar_tags %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.get_full_name }}</h2>
      <p>{{ object.email }}</p>
    </div>
  </div>

{% if object == request.user %}
<div class="row">
  <div class="col-sm-12">
    <h2>My Brackets</h2>
    {% if not object.entry_set.all %}
      <p>You have no brackets, <a href="{% url 'madness:create_entry' %}">enter one here</a>.</p>
    {% else %}
    {% for b in object.entry_set.all %}
    <p><a href="{% url 'madness:entry_picks' b.pk %}">{{ b.name }}</p>
    {% endfor %}
    {% endif %}
  </div>
</div>
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12 ">
    <a class="btn btn-primary" href="{% url 'users:update' %}">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}">E-Mail</a>
    <a class="btn btn-info" href="{% url 'avatar_change' %}">Avatar</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}
