/* line 5, ../sass/project.scss */
.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

/* line 11, ../sass/project.scss */
.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* line 17, ../sass/project.scss */
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* line 23, ../sass/project.scss */
.alert-warning {
  color: black;
  background-color: orange;
  border-color: #d6e9c6;
}

/* line 29, ../sass/project.scss */
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.btn-novo {
  color: #000;
  background-color: #FFB51F;
  border-color: #FFB51F;
}

.color-novo {
  color: #FFB51F !important;
}

form.signup {
  padding-bottom: 25px;
}

footer {
  padding-top: 25px;
}

.navbar-brand {
  background-image: url('/static/images/novo_nav_logo_lg.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 165px;
}

.header {
  background-color: #2C3742;
}

.navbar {
  border-radius: 0;
}
.navbar a {
  color: #C1B691;
}

#countdown {
  width: 410px;
}

input#tie_break {
  width:100px;
  text-align: right;
  margin: auto;
}

div.tie-break {
  margin-top: 20px;
}

.socialaccount_providers {
  padding-left:0;
}
