{% extends "account/__base.html" %}

{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block title %}{% trans "Signup" %}{% endblock title %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">
	<h1>{% trans "Sign Up" %}</h1>

	<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

	<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
	{% csrf_token %}
	<div class="row">
		<div id="div_id_first_name" class="form-group col-sm-6">
			<label for="id_first_name" class="control-label  requiredField">First Name<span class="asteriskField">*</span></label>
			<div class="controls "><input class="textinput textInput form-control" id="id_first_name" name="first_name" placeholder="First Name" type="text"></div>
		</div>
		<div id="div_id_last_name" class="form-group col-sm-6">
			<label for="id_last_name" class="control-label  requiredField">Last Name<span class="asteriskField">*</span></label>
			<div class="controls "><input class="textinput textInput form-control" id="id_last_name" name="last_name" placeholder="Last Name" type="text"></div>
		</div>
	</div>
	{{ form|crispy }}
	{% if redirect_field_value %}
	<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
	{% endif %}
	<button class="btn" type="submit">{% trans "Sign Up" %} &raquo;</button>
	</form>

	<a href="{% provider_login_url 'google' %}" class="btn btn-block btn-social btn-google-plus">
	<i class="fa fa-google-plus"></i> Sign in with Google
	</a>
	<a href="" class="btn btn-block btn-social btn-facebook">
	<i class="fa fa-facebook"></i> Sign in with Facebook
	</a>
</div>


{% endblock content %}
