{% extends "__base.html" %}

{% block title %}Rules - NOVO March Madness{% endblock %}

{% block content %}
<h1>2016 NOVO March Madness Pool</h1>

<ol>
	<li>Each bracket entry is $25. Please pay via Venmo (<a href="https://venmo.com/Colin-Stoner">@Colin-Stoner</a>), or Bitcoin (1MQ6k325NyWkUKCiiRdwP4cfNiVDHaHT4L - .061 Bitcoin). No checks accepted. <a href="mailto:cstoner@novoconstruction.com">Email me</a> if you need to make arrangements to pay in cash. Please add your name or bracket name to the note field for your payment. If your payment includes a fee for using your credit card, you are responsible for that fee.</li>
	<li>Payouts will be for the top 5 brackets with cuts of $650/$260/$130/$130/$130.</li>
	<li>Bracket entry is closed 10 minutes after the start of the first games of the tournament.</li>
	<li>There is no limit to the number of brackets you may submit.</li>
	<li>Scoring will be the following, points per correct selection: R64 - 1 point, R32 - 2 points, Sweet Sixteen - 4 points, Elite Eight - 8 points, Final Four - 16 points, Championship - 32 points.</li>
	<li>The bracket with the most points will be crowned the winner. If there is a tie for total points, your guess on the total score in the championship game will act as the tie breaker.</li>
	<li>Ties after the chanmpionship game will split the pot for the total places occupied by the tie. For example, if it's a three way tie, the pot will split the payouts for first through third place.</li>
	<li>Standings will be updated in real-time and accessible on your mobile device.</li>
	<li>For any questions about the pool or issues with the site, please contact <a href="mailto:cstoner@novoconstruction.com">Colin Stoner</a> (yes, that's a real name).
</ol>

{% if not request.user.is_authenticated and not LOCK_BRACKETS %}
<div class="text-center">
	<a href="{% url 'account_signup' %}" class="btn btn-novo">Sign Up Now</a>
</div>
{% endif %}
{% endblock content %}
