{% extends "__base.html" %}

{% block title %}Rules - NOVO March Madness{% endblock %}

{% block content %}
<div class="container">

  <h1>2015 NOVO March Madness Pool Rules</h1>

  <ol>
  	<li>Each bracket entry is $20. Please pay via Paypal (colinstoner@gmail.com), Venmo (<a href="https://venmo.com/Colin-Stoner">@Colin-Stoner</a>), or Bitcoin (14EjScJfoimdnneu7kNbcHqc6RoiL4FFJ3 - .073 Bitcoin). No checks accepted. Please <a href="mailto:cstoner@novoconstruction.com">email me</a> if you need to make arrangements to pay in cash. Please add your name or bracket name to the note field for your payment. If your payment includes a fee for using your credit card, you are responsible for that fee.</li>
  	<li>Payouts will be determined by the size of the pool. The plan is to payout the top 10% with first place taking at least 50% of the pot depending on the pool size. Payout structure will be formalized after the start of the tourney.</li>
  	<li>Bracket entry is closed 10 minutes after the start of the first games of the tournament.</li>
  	<li>There is no limit to the number of brackets you may submit.</li>
		<li>Scoring will be the following, points per correct selection: R64 - 1 point, R32 - 2 points, Sweet Sixteen - 4 points, Elite Eight - 8 points, Final Four - 16 points, Championship - 32 points, Champion - 64 points.</li>
		<li>Standings will be updated in real-time and accessible on your mobile device.</li>
		<li>For any questions about the pool or issues with the site, please contact <a href="mailto:cstoner@novoconstruction.com">Colin Stoner</a> (yes, that's a real name).
  </ol>

</div>
{% endblock content %}